#vendorInfo.section-one {
    margin-bottom: 0;
}

#vendorInfo.section-one p.inverted {
    color: var(--secondary-font);
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    line-height: 1.15;
}

#vendorInfo.section-one .section-title {
    font-size: 2.75rem;
    width: 100%;
    text-align: center;
    background-color: var(--primary-field-bg);
    box-shadow: 0px 0px 0.25rem rgba(0, 0, 0, 0.25);
    z-index: 10;
}

#vendorInfo.section-one .inverted .card {
    background-color: transparent;
}

#vendorInfo.section-one .card {
    border-radius: 0;
}

#vendorInfo.section-one .card-body .card-title {
    min-height: initial;
    font-size: 1.75rem;
}

#vendorInfo.section-one .inverted .card .card-title {
    font-family: var(--primary-family);
    font-size: 2.5rem;
}

#vendorInfo.section-one .inverted .card .card-body {
    color: var(--secondary-font);
    font-size: 1.25rem;
    font-family: var(--secondary-family);
}

#vendorInfo.section-one .card-body ul {
    padding-left: 0;
}

#vendorInfo.section-one .card-body ul li {
    margin-left: 2rem;
}

@media screen and (max-width: 992px) {
    #vendorInfo .vendor-info-inner {
        display: flex;
        flex-direction: column;
    }
    #vendorInfo .vendor-info-inner #vendorTables {
        order: 1;
    }
    #vendorInfo .vendor-info-inner .vendor-description {
        order: 2;
    }
    #vendorInfo .vendor-info-inner .vendor-table {
        order: 3;
    }
    #vendorInfo .vendor-info-inner #authorTables {
        order: 4;
    }
    #vendorInfo .vendor-info-inner .author-table {
        order: 6;
    }
    #vendorInfo .vendor-info-inner .author-description {
        order: 5;
    }
}